<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CRProtocolManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040886011EA9F4C90020B9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0408861A1EA9F4C90020B9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040886251EA9F4CA0020B9E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
